body,
body * {
    padding: 0px;
}
 
 body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    margin: 200px calc((100% - 600px)/2);
}

img {
    width: 200px;
    height: 200px;
    align-items: center;
}

div {
    padding: 50px;
}

h1{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #F34D33;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
    text-align: left;
}